/node_modules/
/src-tauri/target/
/src-tauri/gen/
/release/
*.log
/release.zip
/src-tauri/icons/

/src-tauri/icons-public/*
!/src-tauri/icons-public/icon.ico
!/src-tauri/icons-public/icon.png
/src-tauri/icons-local/
